<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style type="text/css">
        input {
            outline: none !important;
        }

        #isSuccess,
        #isError {
            width: 100px;
            height: 48px;
            position: absolute;
            top: 40%;
            left: 40%;
            text-align: center;
        }

        /* 定义 vue 动画 */

        .v-enter,
        .v-leave-to {
            opacity: 0;
        }

        .v-enter-active,
        .v-leave-active {
            transition: all 2s ease;
        }
    </style>
    <script src="../vue-2.4.0.js"></script>
    <script src="../vue-resource-1.3.4.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/jquery/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
</head>

<body>
    <div class="app">
        <transition>
            <!-- 操作成功提示框 -->
            <div id="isSuccess" class="alert alert-success" v-if="isSuccess">
                <label>操作成功</label>
            </div>

            <!-- 操作失败提示框 -->
            <div id="isError" class="alert alert-danger" v-if="isError">
                <label>操作失败</label>
            </div>
        </transition>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    添加品牌
                </h3>
            </div>
            <div class="panel-body form-inline container row">
                <label for="" class="col-md-4">
                    Name:
                    <input type="text" class="form-control" v-model="name" id="btn" @keyup.enter="add" autofocus>
                    <input type="button" value="添加" @click="add" class="btn btn-primary">
                </label>
                <label for="" class="col-md-4">
                    请输入搜索的关键字:
                    <input type="text" class="form-control" v-model="keyWords">
                </label>
            </div>
        </div>


        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in list" :key="item.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ctime | dateFormat }}</td>
                    <td>
                        <a href="" @click.prevent="del(item._id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <script>
        // 设置全局配置，这样我们post请求的时候就不需要在填写 emulateJSON了
        Vue.http.options.emulateJSON = true;
        const app = new Vue({
            el: '.app',
            data: {
                list: [],
                name: '',
                keyWords: '',
                isSuccess: false,
                isError: false
            },

            // 在 created的时候加载数据
            created() {
                this.getAllData()
            },
            updated() {
                this.findData();
            },
            methods: {
                getAllData() {
                    this.$http.get('/all').then(result => {
                        if (parseInt(result.body.status) === 1) {
                            this.list = result.body.message
                        } else {
                            console.log(`服务器错误：${result.message}`);
                        }
                    }).catch(err => {
                        throw new Error(err)
                    });
                },
                add() {
                    this.$http.post('/insert', {
                        name: this.name
                    }).then(result => {
                        if (parseInt(result.body.status) === 1) {
                            this.getAllData();
                            this.isSuccess = true;
                            setTimeout(() => {
                                this.isSuccess = false;
                            }, 2000);
                        } else {
                            this.isError = true;
                            setTimeout(() => {
                                this.isError = false;
                            }, 2000);
                            throw new Error(result.body.message)
                        }
                    }).catch(err => {
                        throw new Error(err)
                    });
                    this.name = '';
                    document.getElementById('btn').focus();
                },
                del(data) {
                    this.$http.get('/delete?_id=' + data).then(result => {
                        if (parseInt(result.body.status) === 1) {
                            this.getAllData();
                            this.isSuccess = true;
                            setTimeout(() => {
                                this.isSuccess = false;
                            }, 2000);
                        } else {
                            console.log(`服务器错误：${result.message}`);
                        }
                    }).catch(err => {
                        this.isError = true;
                        setTimeout(() => {
                            this.isError = false;
                        }, 2000);
                        throw new Error(err)
                    })
                },
                findData() {
                    if (this.keyWords != '') {
                        this.$http.get('/findData?reg=' + this.keyWords).then(result => {
                            if (parseInt(result.body.status) === 1) {
                                this.list = result.body.message;

                            } else {
                                console.log(`服务器错误：${result.message}`);
                            }
                        }).catch(err => {
                            throw new Error(err)
                        });
                    } else {
                        this.getAllData();
                    }
                },

            },
            // 过滤器
            filters: {
                dateFormat(data) {
                    let date = new Date(data);
                    return `${date.getFullYear()}-${(date.getMonth()+1).toString().padStart(2, '0')}-${(date.getDate()).toString().padStart(2, '0')}`;
                }
            },

            // 指令

        })
    </script>
</body>

</html>